@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
html,body{
  background-image: url('http://getwallpapers.com/wallpaper/full/9/e/7/413079.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Gelasio', sans-serif;
}

#root{
  height: 100vh;
}

a {
  color: #fd4444;
}